* {
	background-color: #2e3440;
	color: #eceff4;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.joe {
	font-size: 50px;
	color: azure;
}

#joe {
	font-size: 50px;
	color: azure;
}
